In [10]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import math, pickle

In [11]:
df = pd.read_csv('customer_purchase_data.csv')
df

,Age,Gender,AnnualIncome,NumberOfPurchases,ProductCategory,TimeSpentOnWebsite,LoyaltyProgram,DiscountsAvailed,PurchaseStatus
0,40,1,66120.267939,8,0,30.568601,0,5,1
1,20,1,23579.773583,4,2,38.240097,0,5,0
2,27,1,127821.306432,11,2,31.633212,1,0,1
3,24,1,137798.623120,19,3,46.167059,0,4,1
4,31,1,99300.964220,19,1,19.823592,0,0,1
...,...,...,...,...,...,...,...,...,...
1495,39,1,65048.141834,13,0,34.590743,0,5,1
1496,67,1,28775.331069,18,2,17.625707,0,1,1
1497,40,1,57363.247541,7,4,12.206033,0,0,0
1498,63,0,134021.775532,16,2,37.311634,1,0,1
1499,50,0,52625.665974,13,0,25.348017,1,4,1

In [12]:
x = np.array(df.drop('PurchaseStatus', axis=1))
y = np.array(df['PurchaseStatus'])

In [35]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size = 0.4)
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train, y_train)
with open('KNN3.pickle', 'wb') as file:
    pickle.dump(clf,file)
pickle_in = open('KNN3.pickle', 'rb')
clf = pickle.load(pickle_in)
accuracy = clf.score(x_test, y_test)
accuracy

0.5683333333333334

In [38]:
example_test = np.array([[20,0,12150.75,3,1,12.7068,1,1], [40,1,66200.670,8,0,31.568601,0,5], [40,1,76200.670,11,2,35.568601,1,5]])
example_test = example_test.reshape(len(example_test),-1)
predictions = clf.predict(example_test)
predictions

array([0, 0, 0], dtype=int64)