In [23]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, model_selection, svm

In [47]:
df = pd.read_csv('breast-cancer-wisconsin.data')
df.drop(['id'], axis = 1, inplace = True)
df.replace('?', -99999, inplace = True)
df

,clum_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [51]:
x = np.array(df.drop(['class'], axis = 1))
y = np.array(df['class'])

In [53]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size = 0.2)
clf = svm.SVC(kernel = 'linear')
clf.fit(x_train, y_train)
accuracy = clf.score(x_test, y_test)
accuracy
example_test = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_test = example_test.reshape(len(example_test), -1)
predictions = clf.predict(example_test)
print(predictions, ' , ', accuracy)

[2 2]  ,  0.9428571428571428